/*--------------------------------------------------------------
	Module : Animations
	Version : 1.2.0

	.wpeo-animate => classe de base pour le module
		.hover => Permet de lancer l'animation au survol
		.animated => ajouter cette classe lors d'un event js pour animer l'element
			.bounce-in => Type d'animation
			.rotate => Type d'animation
			.down-and-up => Type d'animation
			.progress-success => Type d'animation
			.progress-error => Type d'animation
			.spin => Type d'animation
--------------------------------------------------------------*/

.wpeo-animate {
	animation-fill-mode: both;
	animation-duration: 1s;

	&.hover:hover, &.animated {
		&.bounce-in {
		  animation-name: bounceIn;
		}
		&.bounce-in-light {
			animation-name: bounceInLight;
		}
		&.rotate {
			animation-name: rotate;
		}
		&.down-and-up {
			animation-name: downAndUp;
		}
		&.progress-success {
		  animation-name: progressSuccess;
		}
		&.progress-error {
			animation-name: progressError;
		}
		&.spin {
			animation-name: spin;
		}
	}
}


@keyframes bounceIn {
  0, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1.4, 1.4, 1.4);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInLight {
	0, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		transform: scale3d(1, 1, 1);
	}

	20% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

@keyframes downAndUp {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes progressSuccess {
  0, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }

  20% {
    transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1.4);
  }

  40% {
    transform: translate(-50%, -50%) scale3d(.9, .9, .9);
  }

  60% {
    transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
  }

  80% {
    transform: translate(-50%, -50%) scale3d(.97, .97, .97);
  }

  to {
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}

@keyframes progressError {
	from { transform: translate(-50%, -50%); }
	15% { transform: translate(-50%, -50%) translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
	30% { transform: translate(-50%, -50%) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
	45% { transform: translate(-50%, -50%) translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
	60% { transform: translate(-50%, -50%) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
	75% { transform: translate(-50%, -50%) translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
	to { transform: translate(-50%, -50%); }
}

@keyframes spin {
		0% { transform: translate(-50%, -50%) rotate(0deg); }
		100% { transform: translate(-50%, -50%) rotate(360deg); }
}
